<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:include="/fragments/resources::head">
    <title>Авторизация</title>
</head>
<body>
<div th:include="fragments/header::body"></div>
<div class="custom-container-form">
    <form autocomplete="off" action="#" th:action="@{/j_spring_security_check}" method="post">
        <input class="form-control-lg form-control mb-1" type="text" placeholder="Логин" name="j_username">
        <input class="form-control-lg form-control mb-1" type="password" placeholder="Пароль" name="j_password">
        <button class="btn btn-lg btn-block btn-primary">Войти</button>
        <div class="row">
            <div class="col-lg-12 text-lg-right"><a th:href="@{/recovery}">Забыли пароль?</a></div>
        </div>
    </form>
</div>
<div class="footer-container-log">
    <div th:include="fragments/footer::body"></div>
</div>
</body>
</html>