<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="clearfix">
    <div class="custom-container">
        <div class="navbar edit-padding">
            <a th:href="${isLogged} ? '/cloud' : '/'"><h3 class="navbar-brand"><img th:src="@{/static/img/server.svg}"> CloudStorage</h3></a>
            <nav class="custom-nav" th:if="${!isLogged}">
                <a class="nav-link" th:classappend="(${#strings.equals(#httpServletRequest.requestURI, '/')} or ${#strings.contains(#httpServletRequest.requestURI, '/info')} ? 'active')" th:href="@{/}">Инфо</a>
                <a class="nav-link" th:classappend="(${#strings.contains(#httpServletRequest.requestURI, '/registration')} ? 'active')" th:href="@{/registration}">Регистрация</a>
                <a class="nav-link" th:classappend="(${#strings.contains(#httpServletRequest.requestURI, '/login')} ? 'active')" th:href="@{/login}">Войти</a>
            </nav>
            <nav class="custom-nav" th:if="${isLogged}">
                <a class="nav-link" th:classappend="(${#strings.contains(#httpServletRequest.requestURI, '/cloud')} ? 'active')" th:href="@{/cloud}">Облако</a>
                <a class="nav-link" th:classappend="(${#strings.contains(#httpServletRequest.requestURI, '/settings')} ? 'active')" th:href="@{/settings}">Настройки</a>
                <a class="nav-link" th:href="@{/logout}">Выйти</a>
            </nav>
        </div>
    </div>
</div>
</body>
</html>